*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* start navbar */
.navbar{
    background-color: rgba(2, 2, 2, 0.6);;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.ul-conatiner{
    margin-right: 88px;
}
.ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: white;
    font-family: 'Droid Sans' , sans-serif;
    cursor: pointer;
}
.ul li{
    float: right;
    list-style-type: none;
    padding: 6px;
}
.ul{
    margin-top: 5px;
}
.navbar-h3{
    float: left;
    color: rgb(223, 158, 37);
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
    font-family: 'Sacramento',cursive;
    font-size: 22px;
    margin-left: 80px;
}
.home-itam{
    color: rgb(223, 158, 37);
}
.clear-fix{
    clear: both;
}
/* end navbar */
/* start header */
.header{
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 850px;
}
.overlay{
    background-color: rgba(2, 2, 2, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.header-container{
    text-align: center;
    color: white;
    margin: 234px;
}
.header-p{
    color: rgb(223, 158, 37);
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 10px;
}
/* end header */
/* */